*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    font-family:sans-serif ;
}

.profile {
    width: 40%;
    float: right;
}
.profile img{
    width: 100%;
    height: 100%;
    border-radius: 30%;
    border-bottom: 5px solid rgb(100, 100, 100);
}
.about{
    margin-left: 15px;
}
.profile-info{
    width: 60%;
    height: 90vh;
    float: left;
    padding: 0 30px;
    overflow: scroll;
    overflow-x: hidden;
}
.profile-info::-webkit-scrollbar{
    width: 0;
}
.profile-info h1{
    margin-top:50px;
    margin-bottom:50px;
}

.social{
    margin-top: 20px;
    margin-left:15px;
}
.social img{
    width: 25px;
    margin-right: 15px;
    transition: 2s;
    cursor: pointer;
}
.social img:hover{
    transform: rotate(360deg);
}








.profile-info h2{
    margin-top: 50px;
    margin-bottom: 15px;
}
.expertise img{
    width: 60%;
    margin:5px;
}
.expertise{
    display: inline-block;
    width: 28%;
    padding: 30px 10px;
    margin: 2%;
    text-align: center;
    box-shadow: 0 0 15px rgba(37, 73, 214, 0.18);
}
.expertise small{
    padding-top: 15px;
    display: block;
}



.projects img{
    width: 31%;
    padding: 4px;
    margin-bottom: 5px;
    margin-left: 5px;
    border:1px solid gray;
    cursor: pointer;
}





.form-box{
    margin-top:30px;
}
.input-group input{
    width: 45%;
    border:0;
    outline: none !important;
    padding: 10px;
    display: inline-block;
    margin:2%;
    background-color: rgb(240, 238, 238);
}

.text-area textarea{
    width: 95%;
    border:0;
    outline: none !important;
    padding: 10px;
    margin:2%;
    background-color: rgb(240, 238, 238);
}

.sub{
    border:0;
    outline: none !important;
    padding: 10px 20px;
    margin:2%;
    background-color: rgb(55, 162, 189);
    cursor: pointer;
    color: white;
    font-weight: bold;
}


.cont img{
    width: 20px;
    margin:-5px 10px;
}
.cont span{
    margin:3%;
}
.cont{
    margin:5% 0 5% 25%;
    width: 65%;
}


.copy{
    text-align: center;
    margin-bottom: 30px;
    color:gray;
    font-weight: bold;
}









@media only screen and (max-width:900px){
    .profile-info{
        width: 95%;
        
    }
    .profile{
        width: 95%;
    }
    .profile img{
        width:90%;
    }
    .expertise{
        width: 95%;
        margin-bottom: 10px;
    }
    .projects{
        width: 95%;
    }
    .projects img{
        width: 30%;
    }
    .cont img{
        width: 10px;
        margin:-5px 10px;
    }
    .cont span{
        margin:3%;
        font-size: 10px;
    }
    .copy{
        text-align: center;
        margin-bottom: 30px;
        color:gray;
    }
}